body{
    background-color: #1b6b93;
  }
  
  .navbar{
    background-color: #164B60;
  }
  
  .nav-item{
    padding: 5px;
    transition: .2s;
  }
  
  .nav-item:hover{
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    transition: 0.4s;
    border-radius:10px;
    background-color: #ffffff1c;
  }
  
  .nav-item a{
    color: #4FC0D0;
    transition: .2s;
  }
  
  .nav-item a:hover{
    color: #A2FF86;
  }
  
  .nav-icon{
    max-width: 40px;
  }